/* === Root Variables === */
:root {
    --primary-color: #999; /* Gray for hover effects */
    --background-color: #f8f9fa; /* Light background */
    --background: #777;
    --text-color: #333; /* Dark text */
    --border-radius: 5px; /* Rounded corners */
    --box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sidebar shadow */
    --hover-transition: background-color 0.3s ease, transform 0.3s ease; /* Hover */
}

/* === Global Styles === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

body {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

/* -------------- Sidebar and Header Wrapper Styles Starts -------------- */
.sidebar-header-wrapper {
    display: flex;
    width: calc(100% - 250px);
}

/* ------ Sidebar ------ */

.sidebar {
    top: 0;
    width: 250px;
    height: 100vh;
    padding: 40px;
    position: fixed;
    box-shadow: var(--box-shadow);
    background: var(--background);
}

.sidebar-title {
    text-shadow:
    0px 0px 8px #00BFFF,
    0px 0px 12px #00BFFF,
    0px 0px 16px #00BFFF;
    color:  #000000;
    font-size: 37px;
    padding: 0px 1px;
    margin-bottom: 37px;
}

.sidebar-nav {
    margin-top: 20px;
}

.sidebar-list {
    padding: 0;
    list-style: none;
}

.sidebar-list li {
    margin-bottom: 15px;
    transition: var(--hover-transition);
}

.sidebar-link {
    color: #fff;
    display: block;
    font-size: 22px;
    padding: 10px 7px;
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: var(--hover-transition);
}

.sidebar-link:hover {
    background-color: #ccc;
    color: var(--text-color);
}

/* --------------- Sidebar Styles Ends -------------- */


/* -------------- Header Styles Starts -------------- */
.header {
    top: 0;
    left: 250px;
    display: flex;
    z-index: 1000;
    position: fixed;
    padding: 24px 20px;
    align-items: center;
    width: calc(100% - 250px);
    box-shadow: var(--box-shadow);
    background: var(--background);
    justify-content: space-between;
}

.search-bar {
    position: relative;
}

.search-bar .clear {
    top: 50%;
    right: 10px;
    color: #000;
    display: none;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    transform: translateY(-50%);
    transition: transform 0.3s ease, color 0.3s ease;
}

.search-bar .clear:hover {
    color: #1e1e1e;
    transform: translateY(-50%) scale(1.2);
}

.search-input {
    width: 100%;
    padding: .5rem;
    padding-right: 2.5rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.right-side {
    gap: 35px;
    display: flex;
    align-items: center;
}

.greeting-message {
    font-size: 27px;
    font-weight: 600;
    background: linear-gradient(to right, #000000, #0077B6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* ------------------ Header Styles Ends ------------------- */

/* -------------- Notification Section Starts -------------- */

.notification-container {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
}

#notification-icon {
    color: #000000;
    font-size: 43px;
    cursor: pointer;
    margin-right: 3px;
    position: relative;
}

#notification-icon:hover {
    font-weight: 400;
    transform: scale(1.05);
}

.notification-count {
    top: -7px;
    right: -7px;
    color: white;
    background: red;
    font-size: 16px;
    padding: 3px 6px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
}

.notification-dropdown {
    right: 0;
    top: 6.1rem;
    opacity: 0;
    width: 400px;
    z-index: 1000;
    display: block;
    overflow-y: auto;
    position: absolute;
    background-color: #eeeeee;
    transform: translateX(100%);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.notification-dropdown.active {
    opacity: 1;
    transform: translateX(0);
}

.notification-dropdown h5 {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    background-color: #bebbbb;
    border-bottom: 1px solid #e0e0e0;
}

.notification-dropdown ul {
    margin: 4px;
    padding: 10px;
    list-style: none;
}

.notification-dropdown ul li {
    padding: 5px 0;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #888;
}

.notification-dropdown li:hover {
    transform: scale(1.05);
    background-color: #bebbbb;
    transition: var(--hover-transition);
}

/* --------------- Notification Section Ends --------------- */

/* -------------- Profile Image Styles Starts -------------- */
.profile-image {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
}

.profile-image:hover {
    transform: scale(1.1);
    transition: var(--hover-transition);
}
/* ---------------- Profile Image Styles Ends ---------------- */

/* --------------- Title Section Styles Starts --------------- */

.title-section {
    z-index: 500;
    padding: 25px;
    display: flex;
    margin-top: 100px;
    margin-left: 250px;
    flex-direction: column;
    background-color: var(--background-color);
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    -webkit-background-clip: text;
    background: linear-gradient(to right, #00BFFF, #000000);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.page-subtitle {
    padding: 2px;
    color: #000000;
    font-size: 17px;
    letter-spacing: 1.2px;
    border-bottom: 2px solid #000000;
}

.add-task-button {
    color: #fff;
    font-size: 16px;
    margin-right: 0;
    cursor: pointer;
    margin-top: 15px;
    margin-left: auto;
    border-radius: 5px;
    padding: 10px 12px;
    display: inline-flex;
    text-decoration: none;
    background-color: #0056b3;
    transition: var(--hover-transition);
}

.add-task-button:hover {
    transform: scale(1.05);
    background-color: #00BFFF;
}
/* --------------- Title Section Styles Ends --------------- */

/* --------------- Daily Task Summary & Messages Section Starts --------------- */

.content-wrapper {
    gap: 30px;
    display: flex;
    padding: 30px;
    margin: 30px auto;
    max-width: 1220px;
    margin-left: 250px;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4),
                0px 2px 4px rgba(0, 0, 0, 0.4);
}

.task-summary {
    flex: 1;
    padding: 40px;
    overflow: hidden;
    min-height: 250px;
    max-height: 250px;
    background-color: #eeeeee;
    box-shadow: var(--box-shadow);
}

.task-summary span {
    display: block;
    font-size: 2rem;
    color:  #000000;
    font-weight: 600;
    margin-bottom: 15px;
}

.text {
    color: #666;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: .2rem;
}

.task-count {
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
}

.today-icon {
    display: block;
    color:  #000000;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}


/* --------------- Messages Section Styles --------------- */
#messageList {
    padding: 0;
    overflow-y: auto;
    max-height: 120px;
    list-style-type: none;
    background-color: #eeeeee;
}

#messageList li {
    color: #666;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: .2rem;
    border-bottom: 1px solid #eee;
}

#messageList li.with-arrow::before {
    content: "➔";
    margin-right: 5px;
}

.message-item {
    color: #555;
    margin: 5px 0;
    font-size: 1.15rem;
}

.task-summary:last-child {
    margin-right: 0;
}

/* --------------- Daily Task Summary & Messages Section Ends --------------- */

/* --------------- Add Task & Messages Section Starts --------------- */
.add-tasks {
    text-align: center;
}

.add-tasks p {
    color: #555;
    padding: 15px;
    margin-left: 7rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 15px;
}

.add-task-text {
    color: #1e1e1e;
    font-weight: bold;
    text-decoration: underline double;
}

.add-button {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 7rem;
    padding: 10px 12px;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    background-color: #00BFFF;
    transition: var(--hover-transition);
}

.add-button:hover {
    transform: scale(1.05);
    background-color: #0056b3;
}

.add-button i {
    margin-right: 3px;
}
/* --------------- Add Task & Messages Section Ends --------------- */


/* --------------- Modal Overlay Section Starts --------------- */

.modal-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal {
    top: 50%;
    left: 50%;
    opacity: 1;
    width: 450px;
    height: auto;
    z-index: 1000;
    padding: 20px;
    max-width: 90%;
    position: fixed;
    border-radius: 8px;
    background-color: #fff;
    transition: opacity 0.3s ease;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
}

.delete-modal {
    top: 50%;
    left: 50%;
    opacity: 1;
    width: 550px;
    height: auto;
    z-index: 1000;
    padding: 30px;
    max-width: 100%;
    position: fixed;
    border-radius: 8px;
    background-color: #fff;
    transition: opacity 0.3s ease;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
}

.modal-content {
    width: 500px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.modal-content h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

.modal-content label {
    color: #555;
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    transition: var(--hover-transition);
}

.modal-content textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    transition: var(--hover-transition);
    resize: vertical;
    max-width: 100%;
    max-height: 200px;
    min-height: 100px;
}

.content h3 {
    padding-left: 20px;
    margin-bottom: 20px;
}

.modal-actions {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.modal-btn {
    width: 45%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    transition: var(--hover-transition);
}

.modal-btn.confirm {
    color: #fff;
    background-color: #4CAF50;
}

.modal-btn.confirm:hover {
    transform: scale(1.05);
    background-color: #45a049;
}

.modal-btn.cancel {
    color: #fff;
    background-color: #f44336;
}

.modal-btn.cancel:hover {
    transform: scale(1.05);
    background-color: #e53935;
}

#confirmationModal .modal-btn {
    width: 27%;
}

#confirmationModal .modal-actions {
    gap: 45px;
    justify-content: center;
}

#deletionModal .modal-btn {
    width: 27%;
}

#deletionModal .modal-actions {
    gap: 45px;
    justify-content: center;
}


/* ----------------- Modal Overlay Section Ends ----------------- */


/* --------------- Table Container Section Starts --------------- */

.tabular--wrapper {
    padding: 20px;
    margin-left: 250px;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.9);
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.table-container table {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    background-color: #f5f5f5;
}

.table-container th,
.table-container td {
    max-width: 200px;
    text-align: center;
    word-wrap: break-word;
}

.table-container th {
    padding: 8px;
    color: #FFFFFF;
    background: #555;
    font-family: 'Times New Roman', Times, serif;
}

.table-container td {
    padding: 4px;
    text-align: center;
    border: 1px solid #c0c0c0;
}

.table-container td:nth-child(2),
.table-container td:nth-child(3) {
    text-align: left;
}

.table-container table td h3 {
    margin: 0;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

/* --------------- Task Buttons Section Starts --------------- */
.task-buttons-container {
    display: flex;
    margin: 17px 0;
}

.task-buttons-container button {
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 4px;
    transition: var(--hover-transition);
}

.task-buttons-container .retrieve-button,
.task-buttons-container .completed-button,
.task-buttons-container .incomplete-button,
.task-buttons-container .cancel-button,
.task-buttons-container .overdue-button {
    background: #555;
    color: #e0e0e0;
}

.task-buttons-container button:hover {
    transform: scale(1.05);
}

.buttons button.active {
    color: white;
    border-color: #00BFFF;
    background-color: #00BFFF;
}

#retrieveTasksBtn,
#completedTasksBtn,
#incompleteTasksBtn,
#cancelTasksBtn,
#overdueTasksBtn {
    margin: 0 5px;
}

.task-buttons-container .bulk-delete-btn {
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 4px;
    margin-left: 18rem;
    background-color: #dc3545;
}

.bulk-delete-btn:hover {
    transform: scale(1.05);
    background-color: #c82333;
}

.update-btn, .delete-btn {
    width: auto;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: var(--hover-transition);
}

.update-btn i, .delete-btn i {
    font-size: 15px;
    margin-right: 4px;
}

.update-btn {
    background-color: #28a745;
}

.update-btn:hover {
    transform: scale(1.05);
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    transform: scale(1.05);
    background-color: #c82333;
}

/* --------------- Table Container Section Ends --------------- */

/* --------------- Filter Section Starts --------------- */

.filter-section {
    padding: 15px 20px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    border-left: 4px solid #00BFFF;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.filter-section h2 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px 0;
    font-family: 'Roboto', sans-serif;
}

.filter-section p {
    margin: 0;
    color: #555;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

/* --------------- Filter Section Ends --------------- */

/* ----------------- Analytics Section Starts ----------------- */
.content-section {
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 270px;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border-left: 4px solid #00BFFF;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px 0;
    font-family: 'Roboto', sans-serif;
}

.content-section p {
    margin: 0;
    color: #555;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

.analytics {
    display: grid;
    padding: 1rem;
    grid-gap: 1.5rem;
    margin-top: 1rem;
    margin-left: 250px;
    margin-bottom: 7rem;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    padding: 2rem;
    cursor: pointer;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    transition: var(--hover-transition);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4),
                0px 2px 4px rgba(0, 0, 0, 0.9);
}

.card:hover {
    transform: scale(1.05);
    background-color: #EDEDED;
}

.card-head {
    gap: 2.5rem;
    display: flex;
    align-items: center;
}

.card-head h2 {
    color: #555;
    font-weight: 500;
    font-size: 1.7rem;
}

.card-head span {
    color: #b0b0b0;
    font-size: 2.5rem;
    margin: 0;
}

.card-head h3 {
    color: #333;
    font-weight: 600;
    font-size: 1.5rem;
}

.card .card-head .task-count {
    font-size: 2rem;
    margin-left: auto;
}

.card-body {
    margin-top: 0.5rem;
}

.card-head h1 {
    color: #555;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 1.7rem;
    margin-right: 3.8rem;
}

.card-body .task-count {
    font-size: 2rem;
    margin-top: 0.7rem;
    margin-left: 8.2rem;
}

.card-progress {
    margin: 20px 0;
    height: 1.05rem;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background: #d7d8d9;
}

.indicator-bar {
    height: 100%;
    border-radius: 4px;
    position: absolute;
    transition: width 0.4s ease;
}

.progress-text {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 3px;
    text-align: center;
    position: absolute;
    line-height: 1.05rem;
}

.indicator-bar.default .progress-text {
    color: #313131;
}

.indicator-bar:not(.default) .progress-text {
    color: #FFFFFF;
}

.indicator-bar.completed {
    background: #04c204;
}

.indicator-bar.in-progress {
    background: #FFA500;
}

.indicator-bar.canceled {
    background: #F8482A;
}

.indicator-bar.pending {
    background: #00BFFF;
}

.indicator-bar.overdue {
    background: #b0122a;
}

.indicator-bar.on-hold {
    background: #7d7d7d;
}

/* --------- Chart Section -------- */
.chart-container {
    margin: 20px;
    height: 100%;
    display: flex;
    padding: 30px;
    max-width: 700px;
    margin-top: 2.7rem;
    border-radius: 8px;
    margin-bottom: 7rem;
    align-items: center;
    justify-content: center;
    border: 2px solid #e1e0e0;
    background-color: #F0F0F0;
    margin-left: calc(250px + 250px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4),
                0px 2px 4px rgba(0, 0, 0, 0.9);
}

#myChart,
#lineChart {
    width: 100%;
    max-width: 700px;
    max-height: 350px;
}

#no-data-message,
#no-data-text {
    color: gray;
    display: none;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

#no-data-message i {
    color: #FF6347;
    font-size: 24px;
    margin-bottom: .5rem;
}

#no-data-text i {
    color: #FF6347;
    font-size: 24px;
    margin-bottom: .5rem;
}
/* ------------------ Analytics Section Ends ----------------- */

/* Base progress bar style */
.toastify-custom-progress {
    animation: slide-in-right 0.9s forwards;
}

/* Slide-in animation from the right */
@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.toastify-custom-progress::after {
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    display: block;
    position: absolute;
    border-radius: 2px;
    animation: progress-bar 5s linear forwards;
}

.success-bar::after {
    background: #217526;
}

.error-bar::after {
    background: #b42209;
}

.warning-bar::after {
    background: #d58001;
}

.info-bar::after {
    background: #0179c9;
}

@keyframes progress-bar {
    100% {
        width: 0%;
    }
}

/* --------------- Glow Loading Spinner Starts --------------- */
.loading-spinner {
    top: 55%;
    left: 56%;
    z-index: 1000;
    position: fixed;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    animation: spin 1.2s linear infinite, glow 1.8s ease-in-out infinite alternate;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px #3498db, 0 0 20px #3498db, 0 0 30px #3498db;
    }
    50% {
        box-shadow: 0 0 20px #3498db, 0 0 30px #1abc9c, 0 0 40px #9b59b6;
    }
    100% {
        box-shadow: 0 0 30px #3498db, 0 0 40px #1abc9c, 0 0 50px #9b59b6;
    }
}
/* ------------------- Glow Loading Spinner Ends -------------------- */

.footer {
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    position: fixed;
    text-align: center;
    background-color: #777;
}

.footer p {
    margin: 0;
    font-size: 14px;
    margin-left: calc(70px + 70px);
}

/* ------------------- Responsive Styles Starts --------------------- */

@media (max-width: 768px) {
    .sidebar-header-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px 15px;
    }

    .sidebar h2 {
        margin-top: 75px;
    }

    .sidebar-title {
        text-shadow:
        0px 0px 8px #00BFFF,
        0px 0px 12px #00BFFF,
        0px 0px 16px #00BFFF;
        color:  #000000;
        font-size: 29px;
        margin-bottom: 20px;
        padding: 0px 1px;
    }

    .header {
        left: 0;
        padding: 15px;
        width: 100%;
    }

    .title-section {
        margin-left: 0;
        padding: 10px 15px;
        position: relative;
        top: -50px;
    }

    .content-wrapper {
        margin-left: 0;
        flex-direction: column;
        padding: 15px;
    }

    .task-summary {
        width: 100%;
    }

    .notification-container {
        flex-direction: row;
    }

    .notification-dropdown {
        width: 300px;
        top: 5rem;
    }

    .notification-dropdown h5 {
        font-size: 15px;
    }

    .notification-dropdown ul li {
        font-size: 12px;
    }

    .search-input {
        width: 75%;
    }

    .greeting-message {
        font-size: 1.3rem;
    }

    .add-tasks {
        padding: 0 20px;
    }

    .add-tasks p {
        margin-left: 0;
        font-size: 1.1rem;
        padding: 10px;
    }

    .add-button {
        padding: 10px;
        margin-left: 0;
        font-size: 14px;
    }

    .add-button i {
        margin-right: 5px;
    }

    .tabular--wrapper {
        padding: 10px;
        margin-left: 0;
    }

    .table-container {
        overflow-x: auto;
    }

    .table-container table {
        width: 100%;
    }

    .table-container td, .table-container th {
        padding: 5px;
        font-size: 12px;
    }

    .table-container td[colspan="8"] {
        font-size: 16px;
    }

    .table-container td h3 {
        font-size: 15px;
    }

    .task-buttons-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .task-buttons-container button {
        width: 100%;
        margin: 5px 0;
        font-size: 12px;
        padding: 12px 16px;
    }

    .update-btn, .delete-btn {
        width: 100%;
        margin: 5px 0;
        font-size: .64rem;
        padding: 12px 16px;
    }

    .task-buttons-container .bulk-delete-btn {
        width: 100%;
        margin: 5px 0;
        font-size: 12px;
        padding: 12px 16px;
    }

    .modal {
        width: 80%;
        padding: 15px;
    }

    .modal-content {
        width: 100%;
    }

    .modal-content h2 {
        font-size: 24px;
    }

    .modal-btn {
        width: 45%;
    }

    .analytics {
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .card {
        padding: 1.5rem;
    }

    .card-head h1 {
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .card-body .task-count {
        font-size: 1.8rem;
        margin-left: 0;
    }

    .chart-container {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }

    .content-section {
        margin-left: 20px;
        padding: 10px 15px;
        margin-right: 10px;
    }

    .content-section h2 {
        font-size: 18px;
    }

    .content-section p {
        font-size: 14px;
    }

    .footer {
        padding: 10px;
        margin-top: 30px;
        position: relative;
    }

    .footer p {
        font-size: 10px;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .sidebar {
        padding: 10px;
    }

    .sidebar-title {
        font-size: 28px;
    }

    .header {
        padding: 10px;
    }

    .page-title {
        font-size: 28px;
    }

    .notification-container {
        flex-direction: row;
        align-items: flex-start;
    }

    #notification-icon {
        font-size: 28px;
    }

    .notification-dropdown {
        width: 150px;
    }

    .profile-image {
        width: 28px;
        height: 28px;
    }

    .content-wrapper {
        padding: 10px;
    }

    .task-summary span {
        font-size: 20px;
    }

    .text {
        font-size: 12px;
    }

    #messageList li {
        font-size: 12px;
    }

    .modal {
        width: 90%;
        padding: 10px;
    }

    .modal-content {
        width: 100%;
    }

    .modal-content h2 {
        font-size: 20px;
    }

    .modal-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .modal-btn.confirm, .modal-btn.cancel {
        width: 100%;
    }

    .analytics {
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }

    .card {
        padding: 1rem;
    }

    .card-head h1 {
        font-size: 1.3rem;
    }

    .card-body .task-count {
        font-size: 1.5rem;
    }

    .chart-container {
        padding: 10px;
    }

    #refresh-button {
        font-size: 15px;
        padding: 8px 12px;
    }
}